*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/erpSystem/nbproject/private/
/erpSystem/erpSystem-war/nbproject/private/
/erpSystem/erpSystem-ejb/nbproject/private/
/erpSystem/erpSystem-ejb/build/
/erpSystem/build/
/erpSystem/dist/
/erpSystem/erpSystem-war/dist/
/erpSystem/erpSystem-ejb/dist/
/erpSystem/erpSystem-war/build/
/IntenseERPSolution/nbproject/private/
/IntenseERPSolution/IntenseERPSolution-war/nbproject/private/
/IntenseERPSolution/IntenseERPSolution-ejb/nbproject/private/
/IntenseERPSolution/build/
/IntenseERPSolution/dist/
/IntenseERPSolution/IntenseERPSolution-ejb/build/
/IntenseERPSolution/IntenseERPSolution-ejb/dist/
/IntenseERPSolution/IntenseERPSolution-war/build/
/IntenseERPSolution/IntenseERPSolution-war/dist/